<!DOCTYPE html>
<html>
<title>IP Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-indigo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">IIITB IP Asset Management</h1>
  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <div class="w3-center">
        <a href="/al">
        <div id="view-img">
          
        </div>
      </a>
    </div>
    <h4>View IP Assets</h4><br>
    </div>
  </div>

  <div class="w3-half">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <a href="/ecom">
        <div id="edit-img">
          
        </div>
      </a>
      <h4>Edit IP committee</h4><br>
    </div>
  </div>

  </div>  
</div>

</body>
</html>

