<!DOCTYPE html>
<html>
<head>
	<title>
		Validation in process
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-indigo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<header class="w3-container w3-theme w3-padding" id="myHeader">
		<div class="w3-center">
 	 		<h1 class="w3-xxxlarge w3-animate-bottom">Validation in Process</h1>
 		</div>
	</header>
	<div>
		<%= grid(@ownedips_grid) do |g|
			g.column name: 'ID' do |owned|
				owned.id
			end

			g.column name: 'Title' do |owned|
				owned.title
			end

			g.column name: 'Creator ID' do |owned|
				owned.creator_id
			end

			g.column name: 'Proposal' do |owned|
		        link_to 'Proposal Document', owned.avatar.url, :target => "_blank"
		    end
		end-%>
	</div>
<%= link_to 'File New Creation', fileIP_path %>
</body>
</html>