<!DOCTYPE html>
<html>
<head>
	<title>
		Owned IP assets
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-indigo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<header class="w3-container w3-theme w3-padding" id="myHeader">
		<div class="w3-center">
 	 		<h1 class="w3-xxxlarge w3-animate-bottom">Owned IP Assets</h1>
 		</div>
	</header>

	<div>
		<%= form_for :root, url: add_path  do |f| %>

			<%= grid(@ownedips_grid) do |g|
				g.action_column html_check_box: true
				g.column name: 'Title' do |owned|
					owned.creation.title
				end

				g.column name: 'Creator Name' do |owned|
					owned.user.name
				end

				g.column name: 'Percentage' do |owned|
					owned.precentage
				end
				g.column name: 'Approver' do |owned|
					owned.creation.approver
				end
			end-%>
		<%= f.submit "Add"%>

		<% end %>

	</div>
	<br>
<%= link_to 'File New Creation', fileIP_path %>
</body>
</html>